@page
@using ApiAlmacen.Pages.listainsumos
@model CrearModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1> Agregar una insumo a lista de insumos </h1>

<div asp-validation-summary="All"></div>
<form method="POST">
  <div class="form-group">
   
   <div class="form-group">
    <label for="proyecto">Proyecto</label>
    <input type="text" class="form-control"
        name="proyecto" id="proyecto" aria-describedby="">
    
  </div>

   <div class="form-group">
    <label for="clave">Clave</label>
    <input type="text" class="form-control"
        name="clave" id="clave" aria-describedby="">
    
  </div>

  <div class="form-group">
    <label for="nombreinsumo">Nombre insumo</label>
    <input type="text" class="form-control"
        name="nombreinsumo" id="nombreinsumo" aria-describedby="">
        
  </div>
  <div class="form-group">
    <label for="partida">Partida</label>
    <input type="text" class="form-control"
        name="partida" id="partida" aria-describedby="">
  </div>

<div class="form-group">
    <label for="cantidad">Cantidad</label>
    <input type="number" class="form-control"
        name="cantidad" id="cantidad" aria-describedby="">
  </div>

  <div class="form-group">
    <label for="unidadmedida">Unidad de medida</label>
    <input type="text" class="form-control"
        name="unidadmedida" id="unidadmedida" aria-describedby="">
  </div>


  </div>

  <button type="submit" class="btn btn-primary">Crear</button>
</form>