@page
@using ApiAlmacen.Pages.requisicioncompras
@model CrearModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1> Agregar Insumos a la lista de compras </h1>

<div asp-validation-summary="All"></div>
<form method="POST">
  <div class="form-group">
   
   <div class="form-group">
    <label for="nombreinsumo">nombreinsumo</label>
    <input type="text" class="form-control"
        name="nombreinsumo" id="nombreinsumo" aria-describedby="">
    
  </div>

   <div class="form-group">
    <label for="Cantidad">Cantidad</label>
    <input type="text" class="form-control"
        name="Cantidad" id="Cantidad" aria-describedby="">
    
  </div>

  <div class="form-group">
    <label for="unidadmedida"> unidadmedida</label>
    <input type="text" class="form-control"
        name="unidadmedida" id="unidadmedida" aria-describedby="">
        
  </div>
  <div class="form-group">
    <label for="comprador">comprador</label>
    <input type="text" class="form-control"
        name="comprador" id="comprador" aria-describedby="">
  </div>

<div class="form-group">
    <label for="solicitante">solicitante</label>
    <input type="number" class="form-control"
        name="solicitante" id="solicitante" aria-describedby="">
  </div>

  <div class="form-group">
    <label for="revisor">revisor</label>
    <input type="text" class="form-control"
        name="revisor" id="revisor" aria-describedby="">
  </div>

 <div class="form-group">
    <label for="autorizante">autorizante</label>
    <input type="text" class="form-control"
        name="autorizante" id="autorizante" aria-describedby="">
  </div>
   <div class="form-group">
    <label for="centro_costo">centro_costo</label>
    <input type="text" class="form-control"
        name="centro_costo" id="centro_costo" aria-describedby="">
  </div>
   <div class="form-group">
    <label for="observaciones">observaciones</label>
    <input type="text" class="form-control"
        name="observaciones" id="observaciones" aria-describedby="">
  </div>
   <div class="form-group">
    <label for="prioridad">prioridad</label>
    <input type="text" class="form-control"
        name="prioridad" id="prioridad" aria-describedby="">
  </div>
  
  </div>

  <button type="submit" class="btn btn-primary">Guardar</button>
</form>